@import './base.css';

@font-face {
  font-family: Big Pixel;
  src: url(../assets/fonts/BigPixel.otf);
}

html {
  scrollbar-color: #e593ef #e8b8ee;
  scrollbar-width: thin;
}

body {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: #e8b8ee;
  background-image:
    linear-gradient(to right, #ffffff92 1px, transparent 1px),
    linear-gradient(to bottom, #ffffff92 1px, transparent 1px);
  background-size: 45px 45px;
}

nav ul {
  text-align: center;
}

.nav-icons {
  width: 80px;
  height: 80px;
}

.nav-text {
  color: white;
  font-family: Big Pixel;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

.top-container {
  background-color: #7b9dd2;
  border-radius: 20px 20px 0px 0px;
  border-color: black;
  border-style: solid;
  border-width: 0px 0px 3px;
  width: 100%;
  height: 50px;
}

.setting-icons {
  margin-top: 10px;
  margin-left: 88%;
  width: 100px;
}

.content-container {
  background-color: white;
  border-radius: 20px;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  box-shadow: 20px 20px 2px 1px rgba(0, 0, 255, .2);
  color: #352f6a;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  width: 50%;
}

@media screen and (max-width: 428px) {

  .content-container {
    width: 80%;
  }
}